<!-- <section class="bg-slate-700 py-4">
  <swiper-container
    slides-per-view="1"
    speed="100"
    loop="true"
    autoplay="true"
    delay="3000"
    pagination="true"
  >

  </swiper-container>
  <div class="flex justify-center">
    <button class="bg-orange-500 px-4 py-2 rounded-xl">Get Started</button>
  </div>
</section> -->

<section class="bg-sky-700">
  <h1 class="text-center text-3xl pb-4">What they've said</h1>

  <div class="swiper" style="height: 250px">
    <div class="swiper-wrapper flex justify-center">
      <div class="swiper-slide">
        <img
          class="w-10 absolute left-32 top-6 z-10"
          src="../../../assets/images/avatar-ali.png"
          alt=""
        />
        <div class="bg-gray-400 relative top-12 max-w-xs pt-6">
          <h1 class="text-center">Ali Bravo</h1>
          <p class="mb-4 px-4 py-2">
            ipsum dolor sit amet consectetur adipisicing elit. Quo qui
            voluptatum ipsum eum eveniet molestias minus veniam officia omnis a.
          </p>
        </div>
      </div>
      <div class="swiper-slide flex justify-center">
        <img
          class="w-10 absolute left-32 top-6 z-10"
          src="../../../assets/images/avatar-anisha.png"
          alt=""
        />
        <div class="bg-gray-400 relative top-12 max-w-xs pt-6">
          <h1 class="text-center">Anisha Li</h1>
          <p class="mb-4 px-4 py-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo qui
            voluptatum ipsum eum eveniet molestias minus veniam officia omnis a.
          </p>
        </div>
      </div>
      <div class="swiper-slide flex justify-center">
        <img
          class="w-10 absolute left-32 top-6 z-10"
          src="../../../assets/images/avatar-richard.png"
          alt=""
        />
        <div class="bg-gray-400 relative top-12 max-w-xs pt-6">
          <h1 class="text-center">Richard Watts</h1>
          <p class="mb-4 px-4 py-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo qui
            voluptatum ipsum eum eveniet molestias minus veniam officia omnis a.
          </p>
        </div>
      </div>
      <div class="swiper-slide flex justify-center">
        <img
          class="w-10 absolute left-32 top-6 z-10"
          src="../../../assets/images/avatar-shanai.png"
          alt=""
        />
        <div class="bg-gray-400 relative top-12 max-w-xs pt-6">
          <h1 class="text-center">Shanai Gough</h1>
          <p class="mb-4 px-4 py-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo qui
            voluptatum ipsum eum eveniet molestias minus veniam officia omnis a.
          </p>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
