<section class="bg-sky-700 py-6">
  <h1 class="text-center text-3xl pb-6">What they've said</h1>

  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide flex flex-col">
        <img
          class="w-10 relative top-5"
          src="../../../assets/images/avatar-ali.png"
          alt=""
        />
        <div class="bg-gray-400">
          <h1 class="text-center mt-8">Ali Bravo</h1>
          <p class="px-4 py-2">
            “We have been able to cancel so many other subscriptions since using
            Manage. There is no more cross-channel confusion and everyone is
            much more focused.”
          </p>
        </div>
      </div>
      <div class="swiper-slide flex flex-col">
        <img
          class="w-10 relative top-5"
          src="../../../assets/images/avatar-anisha.png"
          alt=""
        />
        <div class="bg-gray-400">
          <h1 class="text-center mt-8">Anisha Li</h1>
          <p class="px-4 py-2">
            “Manage has supercharged our team’s workflow. The ability to
            maintain visibility on larger milestones at all times keeps everyone
            motivated.”
          </p>
        </div>
      </div>
      <div class="swiper-slide flex flex-col">
        <img
          class="w-10 relative top-5"
          src="../../../assets/images/avatar-richard.png"
          alt=""
        />
        <div class="bg-gray-400">
          <h1 class="text-center mt-8">Richard Watts</h1>
          <p class="px-4 py-2">
            “Manage allows us to provide structure and process. It keeps us
            organized and focused. I can’t stop recommending them to everyone I
            talk to!”
          </p>
        </div>
      </div>
      <div class="swiper-slide flex flex-col">
        <img
          class="w-10 relative top-5"
          src="../../../assets/images/avatar-shanai.png"
          alt=""
        />
        <div class="bg-gray-400">
          <h1 class="text-center mt-8">Shanai Gough</h1>
          <p class="px-4 py-2">
            “Their software allows us to track, manage and collaborate on our
            projects from anywhere. It keeps the whole team in-sync without
            being intrusive.”
          </p>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="flex justify-center">
    <button class="bg-orange-500 px-4 py-2 rounded-3xl mt-8 text-white">
      Get Started
    </button>
  </div>
</section>
