<section>
  <div class="flex flex-col-reverse sm:flex-row sm:container sm:mx-auto">
    <div class="border w-full">
      <h1 class="text-5xl pb-4">
        Bring everyone together to build better products.
      </h1>
      <p class="pb-4">
        Manage makes it simple for software teams to plan day-to-day tasks while
        keeping the larger team goals in view.
      </p>
      <a href="./" class="hero-btn">Get Started</a>
    </div>
    <div class="w-full">
      <img src="../../../assets/images/illustration-intro.svg" alt="" />
    </div>
  </div>
</section>
