<main class="mb-20">
  <div class="container ml-2 mr-2 sm:flex sm:gap-4 sm:mx-auto">
    <section class="w-full mb-9">
      <h2 class="text-2xl pb-3">
        What’s different about <br />
        Manage?
      </h2>
      <p class="text-xs text-gray-500">
        Manage provides all the functionality your team needs, without the
        complexity. Our software is tailor-made for modern digital product
        teams.
      </p>
    </section>
    <aside class="w-full">
      <div class="flex">
        <span
          class="bg-orange-500 absolute left-2 px-3 text-white h-6 rounded-xl sm:static"
          >01</span
        >
        <div class="mb-6 sm:pl-2">
          <h2
            class="bg-slate-600 h-6 ml-3 mb-3 pl-10 text-sm sm:bg-white sm:ml-0 sm:pl-0"
          >
            Track company-wide progress
          </h2>
          <p class="text-xs text-gray-500">
            See how your day-to-day tasks fit into the wider vision. Go from
            tracking progress at the milestone level all the way done to the
            smallest of details. Never lose sight of the bigger picture again.
          </p>
        </div>
      </div>
      <div class="flex">
        <span
          class="bg-orange-500 absolute left-2 px-3 text-white h-6 rounded-xl sm:static"
          >02</span
        >
        <div class="mb-6 sm:pl-2">
          <h2
            class="bg-slate-600 h-6 ml-3 mb-3 pl-10 text-sm sm:bg-white sm:ml-0 sm:pl-0"
          >
            Advanced built-in reports
          </h2>
          <p class="text-xs text-gray-500">
            Set internal delivery estimates and track progress toward company
            goals. Our customisable dashboard helps you build out the reports
            you need to keep key stakeholders informed.
          </p>
        </div>
      </div>
      <div class="flex">
        <span
          class="bg-orange-500 absolute left-2 px-3 text-white h-6 rounded-xl sm:static"
          >03</span
        >
        <div class="mb-6 sm:pl-2">
          <h2
            class="bg-slate-600 h-6 ml-3 mb-3 pl-10 text-sm sm:bg-white sm:ml-0 sm:pl-0"
          >
            Everything you need in one place
          </h2>
          <p class="text-xs text-gray-500">
            Everything you need in one place Stop jumping from one service to
            another to communicate, store files, track tasks and share
            documents. Manage offers an all-in-one team productivity solution.
          </p>
        </div>
      </div>
    </aside>
  </div>
</main>
